      body{
  			background-color: black;
  			margin: 0%;
  			padding: 0%;
        color: white;
  		}

  		h2{
  			font-weight: bold;
  			font-family: sans-serif;
  		}

  		a:hover{
  			text-decoration: none;
  		}

      p{
        font-size: 20px;
      }

      td{
        text-align: center;
        color: white;
      }

      #cer{
        border-radius: 25px;
        width: 600px;
        height: 300px;
      }

  		.img-fluid{
  			border-radius: 25px;
        width: 350px;
        height: 200px;
  		}

  		#main{
        height: 320px;
        width: 280px;
  		}

  		#edu{
  			background-color: gray;
  			font-family: sans-serif;
  			font-size: 20px;
  			border-radius: 25px;
        color: white;
  		}
  		
      #ski0{
        margin-top: 10%;
        text-align: center;
      }

  		#ski1{
  			margin-left: 2.7%;
  			background-color: gray;
  			font-weight: bold;
  			border-radius: 25px;
  		}

  		#ski2{
  			margin-left: 3.5%;
  			background-color: gray;
  			font-weight: bold;
  			border-radius: 25px;
  		}

      #ski3{
        margin-left: 8%;
        background-color: gray;
        font-weight: bold;
        border-radius: 25px;
      }

  		#achi1{
  			margin-left: 3%;
  			background-color: gray;
  			font-weight: bold;
  			border-radius: 25px;
        text-align: center;
  		}

      footer{
        color: black;
      }

      .col-sm-4{
        overflow: hidden;
        transition: 0.2s linear;
      }

      img:hover{
        transform: scale(1.1);
      }
