body{
  			background-color: gray;
  			margin: 0%;
  			padding: 0%;
  		}
  		#nav{
  			background-color: #454545;
  			color: white;
  		}
      #nav2{
        text-align: center;
        font-size: 18px;
      }
      #nav2 li{
        display: inline;
        float: left;        
      }
      #nav2 a{
        display: inline-block;
        width: 165px;
        text-align: center;
        text-decoration: none;
      }
  		footer{
  			background-color: #454545;
  			color: white;
  		}
  		h2{
  			font-weight: bold;
  			font-family: sans-serif;
  		}
  		a:hover{
  			text-decoration: none;
  			color: white;
  		}
  		#table{
  			height: 60px;
  			width: 100%;
  		}
  		.img-fluid{
  			border-radius: 25px;
  		}
  		#main{
  			background-color: #454545;
  			border-radius: 25px;
  			color: white;
  		}
  		#main1{
  			background-color: white;
  			border-radius: 25px;
  			color: white;
  		}
  		#edu{
  			background-color: #454545;
  			font-family: sans-serif;
  			font-size: 20px;
  			color: white;
  			border-radius: 25px;
  		}
  		#exp{
  			background-color: white;
  			border-radius: 25px;
  		}
  		#exp1{
  			background-color: #454545;
  			color: white;
  			border-radius: 25px;
  		}
  		#pro{
  			background-color: white;
  			border-radius: 25px;
  		}
  		#pro1{
  			background-color: #454545;
  			color: white;
  			border-radius: 25px;
  		}
  		#ski{
  			margin-left: 4%;
  			background-color: #454545;
  			color: white;
  			font-weight: bold;
  			border-radius: 25px;
  		}
  		#ski1{
  			margin-left: 2.7%;
  			background-color: #454545;
  			color: white;
  			font-weight: bold;
  			border-radius: 25px;
  		}
  		#achi{
  			margin-left: 6%;
  			background-color: #454545;
  			color: white;
  			font-weight: bold;
  			border-radius: 25px;
  		}
  		#achi1{
  			margin-left: 18%;
  			background-color: #454545;
  			color: white;
  			font-weight: bold;
  			border-radius: 25px;
  		}
